{% extends 'quiz_homepage_base.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Contest analytics</span></div>

	<div class="pf-card">
		<table class="pf-table" id="analytics-table">
			<thead>
				<tr>
					<th>Question</th>
					<th>Answer</th>
					<th>Fraction of people answering correctly</th>
				</tr>
			</thead>
			<tbody>
				{% for stat in question_stats %}
				<tr>
					<td>{{ stat.0.question }}</td>
					<td><a class="pf-link" href="{% url 'view_correct' %}?question_id={{ stat.0.id }}">{{ stat.0.answer }}</a></td>
					<td>{{ stat.1 }} / {{ stat.2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
