{% extends 'quiz_display_leaderboard_base.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Correct answers for {{ question.answer }}</span></div>

	<div class="pf-card">
		<table class="pf-table" id="table-leaderboard">
			<thead>
				<tr>
					<th>User</th>
					<th>Correct answer</th>
					<th>Answer</th>
					<th>Time taken (secs)</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in submissions %}
				<tr>
					<td><a class="pf-link" href="{% url 'show_user' %}?user={{ submission.user.username }}">{{ submission.user.username }}</a></td>
					<td>{{ submission.question.answer }}</td>
					<td>{{ submission.answer }}</td>
					<td class="time-taken">{{ submission.time_taken }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
