{% extends 'quiz_display_leaderboard_base.html' %}

{% block content %}
	
	<!-- Navigation bar --> 
		
	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  	<a style="color: white; font-size: 12px;" href = "/users?user={{user.username}}" class = "navbar-brand" id = "user-display"> {{user.username}} </span>
  		<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
	</nav>

	<!-- Display leaderboard here -->

	<center>

		<div id = "leaderboard">

			<!-- Button to update rating --> 

			{% if request.user.username == 'coder' %}
		<!--
			<form name = "rating_form" method = "POST" action = "{% url 'update_rating' %}">
				{% csrf_token %}
				<input type = "hidden" name="contest_id" value = "{{contest.id}}">
				
			</form>
		-->
			<p><a href = "{% url 'update_rating' %}?contest_id={{contest.id}}" id = "update-rating-button">Update ratings</a></p>

			{% endif %}

			<!-- Leaderboard -->

			<p> Leaderboard </p>

			<table id = "table-leaderboard" class = "table" style="width:800px;">
				
				<thead>
				  
				  <tr>
					
				   <th>Rank</th>	   
				   
				   <th>Username</th>
			
				   <th>Correct Answers</th>
			
				   <th>Time taken(secs)</th>
				  
				  </tr>

				</thead>

				{% for u in users %}
				  
				  <tr>

				  	<td class = "rank-row">1</td>
				 
				  	<td><a href = "{% url 'show_user' %}?user={{u.username}}">{{u.username}}</a></td>
				 
				  	<td>{{u.correct_answers}}</td>
				 
				  	<td class = "time-taken">{{u.time_taken}}</td>
				 
				   </tr>
			
				{% endfor %}
			
			</table>

		</div>

	</center>

	<script type="text/javascript">
		
		// Round up the time-taken 

		var timeTaken = document.getElementsByClassName("time-taken"); 

		var i; 

		for(i=0; i<timeTaken.length; i++)
		{
			var time = Number(timeTaken[i].innerHTML);

			time = time.toFixed(3);

			timeTaken[i].innerHTML = time;   
		}

		// Rank the participants 

		var rank = document.getElementsByClassName('rank-row'); 
		var counter = 1; 

		for(i=0; i<rank.length; i++)
		{
			// If time is same, then same rank 

			rank[i].innerHTML = counter.toString(10); 
			counter++; 

			if(i > 0)
			{
				if(timeTaken[i].innerHTML == timeTaken[i - 1].innerHTML)
				{
					// Same time taken 

					rank[i].innerHTML = rank[i - 1].innerHTML; 
				}
			}
		}

		$("update-rating-button").click(function() {


		})

	</script>

{% endblock %}	