{% extends 'quiz_view_contest_base.html' %}


{% block content %}

	<!-- Navigation bar --> 

	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		
	  	<a style="color: white; font-size: 12px;" href = "{% url 'home' %}" class = "navbar-brand" id = "home"> Home </span>
	  		
	  	<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}"> Logout </a>
		
	</nav>

	
	<div id = "quiz-contest">

		{% if show_questions == 'YES' %}

		<p style = "margin-top: 10px; font-size: 16px; margin-left: 20px;"> {{contest.genre}} </p>

		{% for question in questions %}

			<div id = "question">

				{% if question.image %}

				<div id = "image-holder">

					<img id = "img-preview" alt = "Your avatar" width = "200" height = "200" src = "{{question.image.url}}">

				</div>

				{% endif %}


				<p style = "margin-left: 10px; margin-top: 10px; margin-right: 10px;"> {{question.question}} </p> 

				<p style = "margin-left: 10px; margin-top: 10px;"> <strong> Options: </strong> </p>

				{% for option in question.option_list %}

					<p style = "margin-left: 10px; margin-top: 10px;"> {{option}} </p>

				{% endfor %}


				<p style = "margin-left: 10px; margin-top: 10px;" > <strong> Answer: </strong> {{question.answer}} </p>

				<a style = "margin-left: 10px; margin-top: 10px;" href = "{% url 'edit_question' %}?question_id={{question.id}}"> Edit </a>

				| 

				<a style = "margin-top: 10px;" href = "{% url 'delete_question' %}?question_id={{question.id}}"> Delete  </a>

			</div>

		{% endfor %}

			<a href = "contest?contest_id={{contest.id}}" style = "float: right; margin-right: 10px;" > Add question </a> <br>

		{% else %}

			<p> This contest is to be scheduled at {{contest.time}} </p>

		{% endif %}

	</div>

	<div id = "countdown">

		<p id = "contest-show"> The contest will start in <span id = "time"> </span></p>

	</div>	

	<script type = "text/javascript">

		function onEnter()
		{
			var contestTime = "{{contest.time}}"; 

			// Split contest time into tokens 

			var tokens = contestTime.split(" "); 

			// Transforming date-time standards from Django to JavaScript  

			if(tokens[tokens.length - 1] == "p.m.")
			{
				var time = tokens[tokens.length - 2]; 

				time[0] = (parseInt(time[0]) + 12).toString(10); 

				tokens[tokens.length - 2] = parseInt(time[0]) + 12 + ":" + time[2] + time[3]; 

				console.log(tokens[tokens.length - 2]); 
			}
				
			var time = ""; 

			for(i=0; i<tokens.length - 1; i++)
			{
				time += tokens[i] + " "; 
			}

			time = time.trim(); 

			var contestTime = new Date(time).getTime(); 

			// Designing the countdown timer 

			var x = setInterval(function()
			{
				var currentTime = new Date().getTime(); 

				var distance = contestTime - currentTime;

				// Extract days, hours, minutes and seconds 

				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result  

				if(distance <= 0)
				{
					// Go to contest

					 $("<p> Play contest <a href = {% url 'play_contest' %}?contest_id={{contest.id}}&question_id={{first_question.id}}> here. </a> </p>").replaceAll("#contest-show"); 
				}
				else
				{
					// Show waiting time 

					$('#time').html(days + 'd ' + hours + 'h ' + minutes + 'm ' + seconds + 's'); 
				}

			}, 1000); 
		}

		$(document).ready(onEnter); 

	</script>

{% endblock %}