<!DOCTYPE html>
<style type="text/css">

	#nav
	{
		background-color: #34495E;
		color: white;
	}

	#logout-button
	{
		float: right;
		margin-right: 20px;
	}

	#leaderboard
	{
		font-size: 12px;
		margin-top: 50px;
		margin-left: 20px;
	}

</style>
<html>
	<head>
		<title> Qnondrum | Contest Leaderboard </title>
	</head>
	<body>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		{% block content %}
		{% endblock %}
	
	</body>
</html>