{% extends 'quiz_display_leaderboard_base.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Submissions for {{ user.username }}</span></div>

	<div class="pf-card">
		<table class="pf-table" id="table-leaderboard">
			<thead>
				<tr>
					<th>Question</th>
					<th>Correct answer</th>
					<th>Answer</th>
					<th>Time taken (secs)</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in submissions %}
				<tr>
					<td>{{ submission.question.question }}</td>
					<td>{{ submission.question.answer }}</td>
					<td>{{ submission.answer }}</td>
					<td class="time-taken">{{ submission.time_taken }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
