{% extends 'quiz_play_contest_base.html' %}

{% block content %}

	<!-- Display question --> 

	<div id = "contest">

		<form method = "post" action = "{% url 'play_contest' %}?contest_id={{contest.id}}&question_id={{question.id}}">

			{% csrf_token %}

			<p style = "margin-left: 20px; margin-top: 20px; font-size: 12.5px;">{{question.question}}</p>

			<input style = "float: right;" id = "time_taken" type = "hidden" name = "time_taken" value = "0" /> 

			{% if question.image %}

			<div id = "image-holder">

				<img name = "question-image" src = "{{question.image.url}}" width = "300" height = "200" /> 

			</div>

			{% endif %}

			<input style = "margin-left: 20px; margin-top: 20px;" type = "text" id = "option" name = "answer" />

			<input style = "margin-left: 20px; margin-top: 20px; font-size: 12.5px;" id = "submit-button" type = "submit" name = "action" value = "Submit" /> 

		</form>

		<p style = "margin-left: 20px; margin-top: 20px; font-size: 12.5px;" id = "timer">0</p> 

	</div>

	<!-- JavaScript code to handle timer -->

	<script type="text/javascript">

		// Function to countdown till 24 seconds 
		
		var currentDate = new Date(); 
		var currentTime = $('#timer').html(); 

		function setTime()
		{
			currentTime = Number(currentTime) + 1; 

			if(currentTime < localStorage.storedTime)
			{
				currentTime = localStorage.storedTime; 
			}
	
			// Set time

			localStorage.storedTime = currentTime;  

			$('#timer').html(currentTime);
			$('#time_taken').val(currentTime.toString(10)); 

			// Go to next question if timer exceeded 

			if(currentTime == 24)
			{
				// Create a POST request and send it to server 

				const data = {answer: "", time_taken: "0000", csrfmiddlewaretoken: '{{csrf_token}}'}; 
				const URL = "{% url 'play_contest' %}?contest_id={{contest.id}}&question_id={{question.id}}"; 

				// Redirecting with a form submission
				
				var form = document.createElement('form'); 

				document.body.appendChild(form); 

				form.method = 'post';
				form.action = URL; 

				for(var name in data)
				{
					var input = document.createElement('input'); 

					input.type = 'hidden'; 
					input.name = name; 
					input.value = data[name]; 

					form.appendChild(input); 
				}
				
				localStorage.storedTime = 0; 

				form.submit();

				return; 
			} 

		}

		function countdownBegin()
		{
			setInterval(setTime, 1000);
		}
		
		// Entry point 

		$(document).ready(countdownBegin); 

		// Clear cache on submit 
		
		$("#submit-button").click(function()
		{
			// Clear storage time for next question 

			var newDate = new Date(); 

			$('#time_taken').val(newDate - currentDate); 

			localStorage.storedTime = 0; 

		}); 

		// Load time on load 

	</script>

{% endblock %}