{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Put Funda | Play contest</title>
		<link rel="stylesheet" href="{% static 'blogsite/css/theme.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	</head>
	<body class="pf-theme">

		<header class="pf-masthead">
			<a class="pf-wordmark" href="{% url 'index' %}">Put Funda</a>
			<p class="pf-tagline">Playing now.</p>
		</header>

		<div class="pf-shell">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>
