{% extends 'quiz_display_leaderboard_base.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Leaderboard</span></div>

	{% if request.user.username == 'Avinash' %}
	<p class="pf-note" style="margin-bottom: 14px;">
		<a class="pf-link" href="{% url 'update_rating' %}?contest_id={{ contest.id }}" id="update-rating-button">Update ratings</a>
		&nbsp;&middot;&nbsp;
		<a class="pf-link" href="{% url 'restore_rating' %}?contest_id={{ contest.id }}" id="restore-rating-button">Restore ratings</a>
	</p>
	{% endif %}

	<div class="pf-card">
		<table id="table-leaderboard" class="pf-table">

			<thead>
				<tr>
					<th>Rank</th>
					<th>Username</th>
					<th>Correct answers</th>
					<th>Time taken (secs)</th>
					<th>Submissions</th>
				</tr>
			</thead>

			<tbody>
				{% for u in users %}
				<tr>
					<td class="rank-row">1</td>
					<td><a class="pf-link" href="{% url 'show_user' %}?user={{ u.username }}">{{ u.username }}</a></td>
					<td>{{ u.correct_answers }}</td>
					<td class="time-taken">{{ u.time_taken }}</td>
					{% if is_valid_contest %}
						<td>Submission</td>
					{% else %}
						<td><a class="pf-link" href="{% url 'view_user_submissions' %}?username={{ u.username }}&contest_id={{ contest.id }}">Submission</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

	<script type="text/javascript">

		// Round up the time-taken

		var timeTaken = document.getElementsByClassName("time-taken");

		var i;

		for(i=0; i<timeTaken.length; i++)
		{
			var time = Number(timeTaken[i].innerHTML);

			time = time.toFixed(3);

			timeTaken[i].innerHTML = time;
		}

		// Rank the participants

		var rank = document.getElementsByClassName('rank-row');
		var counter = 1;

		for(i=0; i<rank.length; i++)
		{
			// If time is same, then same rank

			rank[i].innerHTML = counter.toString(10);
			counter++;

			if(i > 0)
			{
				if(timeTaken[i].innerHTML == timeTaken[i - 1].innerHTML)
				{
					// Same time taken

					rank[i].innerHTML = rank[i - 1].innerHTML;
				}
			}
		}

		$("update-rating-button").click(function() {


		})

	</script>

{% endblock %}
