<!DOCTYPE html>

<style type="text/css">
	
	.body
	{
		font-size: 12px;
	}

	#exit-message
	{
		margin-top: 450px;
	}

</style>

<html>
	
	<head>
		<title> Qnondrum | Exit window </title>
	</head>
	
	<body>
		
		<!-- Latest compiled and minified CSS -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<!-- Exit announcment --> 

		<center>

			<div id = "exit-message">

				<h4> The Quiz has ended! </h4>
				<p> Thank you for participating. You can close the window now. </p>

			</div>

		</center>

	</body>

</html>