{% extends 'quiz_view_contest_base.html' %}


{% block content %}

	<!-- Navigation bar --> 

	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		
	  	<a style="color: white; font-size: 12px;" href = "{% url 'home' %}" class = "navbar-brand" id = "home"> Home </span>
	  		
	  	<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}"> Logout </a>
		
	</nav>

	
	<div id = "quiz-contest">

		{% if show_questions == 'YES' %}

		<p> {{contest.genre}} </p>

		{% for question in questions %}

			<div id = "question">

				<p style = "margin-left: 10px; margin-top: 10px; margin-right: 10px;"> {{question.question}} </p> 

				<p style = "margin-left: 10px; margin-top: 10px;"> <strong> Options: </strong> </p>

				{% for option in question.option_list %}

					<p style = "margin-left: 10px; margin-top: 10px;"> {{option}} </p>

				{% endfor %}

				<p style = "margin-left: 10px; margin-top: 10px;" > <strong> Answer: </strong> {{question.answer}} </p>

				<a style = "margin-left: 10px; margin-top: 10px;" href = "{% url 'edit_question' %}?question_id={{question.id}}"> Edit question </a>

			</div>

		{% endfor %}

			<a href = "contest?contest_id={{contest.id}}" style = "float: right; margin-right: 10px;" > Add question </a> <br>

		{% else %}

			<p> This contest is to be scheduled at {{contest.time}} </p>

		{% endif %}

	</div>

{% endblock %}