{% extends 'quiz_homepage_base.html' %}

{% block content %}
	
	<!-- Navigation bar --> 
		
		<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		<a style="color: white; font-size: 12px;" href = "/users?user={{user.username}}" class = "navbar-brand" id = "user-display"> {{user.username}} </span>
  			<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
			</div>
		</nav>
	
	{% if user.is_authenticated %}
	
		<center>
			
			<div id = "welcome-quiz">

				<!-- List of upcoming contests -->
				
				<center>

					<!-- List of active contests --> 

					<br> 

					<p><strong> List of all active contests: </strong></p>

					<br>

						{% if active_contests_size == 0 %}

							<p> There are no active contests now. </p>

						{% else %}

						<table class = "table">
							
							<center>

								<thead>
								    <tr>
								      <th scope="col">Contest ID</th>
								      <th scope="col">Genre</th>
								      <th scope="col">Host</th>
								      <th scope="col">Time</th>
								    </tr>
								</thead>

								<tbody>
									
									{% for contest in active_contests %}

									<tr>
										<td> <a href = "{% url 'view_contest' %}?contest_id={{contest.id}}">{{contest.id}}</a></td>
										<td>{{contest.genre}}</td>
										<td><a href = "{% url 'show_user' %}?user={{contest.host.username}}">{{contest.host}}</a></td>
										<td>{{contest.time}}</td>
									</tr>

									{% endfor %}

								</tbody>

							</center>

						</table>

						{% endif %}

					<br> 
					
					<!-- List of upcoming contests --> 

					<p><strong> List of all upcoming contests: </strong> </p>

					<br>

						{% if new_contests_size == 0 %}

							<p> There are no new contests, yet. </p>

						{% else %}

						<table class = "table">
							
							<center>

								<thead>
								    <tr>
								      <th scope="col">Contest ID</th>
								      <th scope="col">Genre</th>
								      <th scope="col">Host</th>
								      <th scope="col">Time</th>
								    </tr>
								</thead>

								<tbody>
									
									{% for contest in new_contests %}

									<tr>
										<td> <a href = "{% url 'view_contest' %}?contest_id={{contest.id}}">{{contest.id}}</a></td>
										<td>{{contest.genre}}</td>
										<td><a href = "{% url 'show_user' %}?user={{contest.host.username}}">{{contest.host}}</a></td>
										<td>{{contest.time}}</td>
									</tr>

									{% endfor %}

								</tbody>

							</center>

						</table>

						{% endif %}

					<br> 

					<!-- List of past contests --> 

					<p><strong> List of past contests: </strong></p>

					<br>

						<table class = "table">
							
							<center>

								<thead>
								    <tr>
								      <th scope="col">Contest ID</th>
								      <th scope="col">Genre</th>
								      <th scope="col">Host</th>
								      <th scope="col">Time</th>
								    </tr>
								</thead>

								<tbody>
									
									{% for contest in past_contests %}

									<tr>
										<td> <a href = "{% url 'view_contest' %}?contest_id={{contest.id}}">{{contest.id}}</a></td>
										<td>{{contest.genre}}</td>
										<td><a href = "{% url 'show_user' %}?user={{contest.host.username}}">{{contest.host}}</a></td>
										<td>{{contest.time}}</td>
									</tr>

									{% endfor %}

								</tbody>

							</center>

						</table>

					<br> 

				</center>
					
			</div>

		</center>

			<div id = "user-contests">

				<!--List of your contest--> 

				<br>

				<p> Your contests: </p> 

				<br> 

				{% for contest in user_contests %}

					<p> Contest <a href = "{% url 'view_contest' %}?contest_id={{contest.id}}"> {{contest.id}} </a> scheduled at {{ contest.time }} </p>
	 
				{% endfor %}

				<br> 

			</div>	

			<center>
				<div id = "functions-quiz">

					<!-- Functions of a participant / scheduler --> 

					<p> Schedule a contest <a href = "{% url 'schedule_quiz' %}"> here. </a> </p>


				</div>
			</center>
	
	{% else %}
		<p> You are not logged in. </p>
	{% endif %}

	<script type="text/javascript">
		
		function newWindow()
		{
			console.log('Control here.'); 
			window.open("{% url 'view_contest' %}?contest_id={{contest.id}}"); 
			window.focus(); 
		}

	</script>

{% endblock %}