<!DOCTYPE html>

<style type="text/css">

	* {

		font-family: 'Inter', sans-serif;
	}

	#question {

		width: 550px;
		margin-left: 20px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#answer {

		margin-top: 20px;
		margin-bottom: 20px;
	}

	#analytics-table {

		width: 800px;
		font-size: 12px;
	}

	#logout-button {

		float: right;
		margin-right: 10px;
	}
	
</style>

<html>	

	<head>
		<title>Put Funda | Contest analytics</title>
		<meta http-equiv="refresh" content="50"/>
	</head>
	
	<body>

		<!-- Latest compiled and minified CSS -->		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">

		{% block content %}{% endblock %} 

	</body>

</html>