{% extends 'quiz_display_leaderboard_base.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Updated ratings</span></div>

	{% if request.user.username == 'Avinash' %}
	<p class="pf-note" style="margin-bottom: 12px;"><a class="pf-link" href="{% url 'leaderboard' %}?contest_id={{ contest.id }}" id="update-rating-button">Leaderboard</a></p>
	{% endif %}

	<div class="pf-card">
		<table class="pf-table" id="table-leaderboard">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Username</th>
					<th>Old rating</th>
					<th>New rating</th>
					<th>Difference</th>
				</tr>
			</thead>
			<tbody>
				{% for u in users %}
				<tr>
					<td class="rank-row">{{ u.rank }}</td>
					<td><a class="pf-link" href="{% url 'show_user' %}?user={{ u.username }}">{{ u.username }}</a></td>
					<td class="old-rating">{{ u.old_rating }}</td>
					<td class="new-rating">{{ u.new_rating }}</td>
					<td class="diff"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<script type="text/javascript">

		var oldRating = document.getElementsByClassName("old-rating");

		for (let i = 0; i < oldRating.length; i++) {
			let r = Number(oldRating[i].innerHTML);
			oldRating[i].innerHTML = r.toFixed(0);
		}

		var newRating = document.getElementsByClassName("new-rating");
		var diffRating = document.getElementsByClassName("diff");

		for (let i = 0; i < newRating.length; i++) {

			let rating = Number(newRating[i].innerHTML);
			newRating[i].innerHTML = rating.toFixed(0);

			let diff = rating - Number(oldRating[i].innerHTML);
			diffRating[i].innerHTML = diff.toFixed(0);
			diffRating[i].style.color = diff < 0 ? '#a8452c' : '#3c5230';
		}

	</script>

{% endblock %}
