<!DOCTYPE html>

<style type="text/css">


	#nav
	{
		background-color: #34495E;
		color: white;
	}

	#logout-button
	{
		float: right;
		margin-right: 20px;
	}

	#quiz-schedule
	{
		border-style: solid;
		border-color: gray;
		border-width: 1px;
		width: 500px;
		font-size: 13px;
		margin-top: 50px;
	}

	#alert
	{
		width: 500px;
	}

</style>

<html>
	
	<head>
		<title> Qnondrum | Schedule a Quiz. </title>
	</head>
	
	<body style="font-family: 'Open Sans', sans-serif;">
		
		<!-- Latest compiled and minified CSS -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<!--Google font-->
			
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
			

		<!-- Navigation bar --> 

		<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		
	  		<a style="color: white; font-size: 13px;" href = "{% url 'home' %}" class = "navbar-brand" id = "home"> Home </span>
	  		
	  		<a style="color: white; font-size: 13px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}"> Logout </a>
		
		</nav>

		<!-- Quiz schedule form --> 


		<center>

			<p id = "schedule-message" style = "margin-top: 50px; font-size: 13px;"> Schedule the Quiz timings here. </p>

			<div id = "quiz-schedule">

				<form method = "post" action = "{% url 'schedule_quiz' %}">
					
					<br>

					{% csrf_token %} 

					<b>Genre:</b> <br><br><input type = "text" name = "genre" placeholder = "Genre" /><br><br>

					<b>Date:</b> <br><br><input id = "date" type = "date" name = "date" required/><br><br>

					<b>Time:</b> <br><br><input id = "time" type = "time" name = "time" required/><br><br>

					<span id = "confirm-date" style = "font-size: 12px;"></span></p><br>

					<b>Seconds per question:</b> <br><br><input id="number" name="seconds-per-question" placeholder="30"/><br><br>

					<b>Valid for (minutes):</b> <br><br><input id="number" name="valid-for" placeholder="30" min="30" /><br><br>

					<span style="font-size: 12px;">1 day: 1440 mins</span><br><br>

					<input type = "submit" name = "Schedule"/><br><br>

				</form>

				<br> 

			</div>

			<br>
			
			<p style = "font-size: 12px;"> The time will be considered invalid if it is within 15 minutes (before/after) another contest. </p>
						
		</center>

	</body>

</html>

<script type="text/javascript">

	// Generate AJAX request for validating time 

	function validateContestTime()
	{
		var date = $('#date').val(); 
		var time = $('#time').val();

		var contestTime = date + ' ' + time;

		console.log('Called'); 

		// Make AJAX call to backend

		if(time != null && date != null)
		{
			$.get("{% url 'is_valid_date' %}", {contestTime : contestTime},

				function (data)
				{
					if(data['validDate'] == 'YES')
					{
						$('#confirm-date').html(data['message']); 
					} 
					else
					{
						$('#confirm-date').html(data['message']); 
					}
				}

			);
		}
	}

	function onChange()
	{
		$('#date').change(function() {validateContestTime()}); 
		$('#time').change(function() {validateContestTime()});
	}

	$(document).ready(onChange); 

	// Display alert 

	let params = new URLSearchParams(location.search); 

	var message = params.get('message'); 

	console.log(message); 

	if(message.length > 0)
	{
		$("<center><div id = 'alert' class = 'alert alert-warning' role = 'alert'><strong>Error!</strong> Your contest does not have a valid time or it might be clashing with a different contest.</div></center>").insertBefore("#schedule-message");
	}

</script>