{% extends 'quiz_edit_question_base.html' %}

{% block content %}
	
	<!-- Navigation bar --> 

	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		
	  	<a style="color: white; font-size: 12px;" href = "{% url 'home' %}" class = "navbar-brand" id = "home"> Home </span>
	  		
	  	<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}"> Logout </a>
		
	</nav>

	<center>

		<div id = "question-box">

			<center>

				<form method = "post" enctype="multipart/form-data" action = "{% url 'edit_question' %}?question_id={{question.id}}">
							
					{% csrf_token %}

					<textarea id = "question-input" rows = "5" cols = "70" name = "question" required>{{question.question}}</textarea>

					<br> <br> 

					<input style = "margin-left: 65px;" type = "file" name = "image" />

					<br>

					Answer:

					<br>

					<br>

					<input type = "text" name = "answer" value = "{{question.answer}}" required = "required">

					<br> <br> 

					<input type = "text" name = "second_answer" placeholder = "Second answer" />

					<br><br>

					<input type = "text" name = "third_answer" placeholder = "Third answer" />

					<br><br> 

					<input type = "submit" name = "action" value = "Edit question">
					
					<br> <br> 

				</form>

			</center>

		</div>

	</center>

{% endblock %}