{% extends 'home.html' %}

{% block content %}

<style>
	#email-sent-message {


	}

	#forgot-password {

		margin-top: 10%;
		width: 500px;
		border-color: gray; 
		border-width: 1px; 
		border-style: solid; 
	}

</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<center>
<div id="forgot-password">
	<p><h5>Enter your Email to receive a verification link</h5></p>
	<form id="forgot-password-form" method="post" action="{% url 'forgot' %}">
		{% csrf_token %}
		  <div class="mb-3" id="form-container">
		  <div class="form-group">
		  	<br><br>
		  	<div class="form-group">
		      <p><label>Email:</label></p>
		      <p><input id="email" name = "email"></input></p><br>
		    </div>
		 
		  	<div class="g-recaptcha" data-sitekey="6Lf1LWQhAAAAAFBp7VbX4faQoGN_l2EPJELUUxZI" data-callback="enableSendMail">  	
		  	</div>
		  </div>
		</div>
		<center>
	  	 	<input style = "font-size: 12px;" id = "submit-button" disabled = "true" 
	  	 	type = "submit" class="btn btn-success" name="action" value="Send Link!">
	  	</center>
	</form>
	<br>
	<p id="email-sent-message"><span>{{message}}</span></p>
</div>
</center>

<script>

	function enableSendMail() {

		document.getElementById("submit-button").disabled = false;
	}

</script>
{% endblock %}