{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Put Funda</title>
		<link rel="stylesheet" href="{% static 'blogsite/css/theme.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	</head>
	<body class="pf-theme">

		<header class="pf-masthead">
			<a class="pf-wordmark" href="{% url 'index' %}">Put Funda</a>
			{% if user.is_authenticated and user.profile.current_streak %}
			<span class="pf-masthead-badge">&#128293; {{ user.profile.current_streak }} day streak</span>
			{% else %}
			<p class="pf-tagline">You don't know what you don't know.</p>
			{% endif %}
		</header>

		<div class="pf-metabar">
			{% if user.is_authenticated %}
			<span class="pf-metabar-links">
				<a class="pf-link" href="{% url 'home' %}">Home</a>
				<a class="pf-link" href="{% url 'qotd_home' %}">Question of the day</a>
				<a class="pf-link" href="{% url 'quiz_home' %}">Contests</a>
				<a class="pf-link" href="{% url 'blog_home' %}">Blogposts</a>
			</span>
			<span>
				<a class="pf-link" href="{% url 'show_user' %}?user={{ user.username }}">{{ user.username }}</a>
				&nbsp;&middot;&nbsp;
				<a class="pf-link" href="{% url 'logout' %}">Log out</a>
			</span>
			{% else %}
			<span>Daily trivia &amp; quiz contests</span>
			<span class="pf-metabar-links">
				<a class="pf-link" href="{% url 'login' %}">Log in</a>
			</span>
			{% endif %}
		</div>

		<div class="pf-shell pf-shell--wide">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>
