{% extends 'home.html' %}
{% block content %}
		<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  		<a style="color: white; font-size: 12px;" href = "/users?user={{user.username}}" class = "navbar-brand" id = "user-display"> {{user.username}} </span>
  			<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
			</div>
		</nav>
	{% if user.is_authenticated %}
		<center>
			<div id="home-block" class="jumbotron">
			  <h1 class="display-4">Hello, {{user.first_name}}!</h1>
			  <p class="lead">We hope to see you have a great time, and learn something new.</p>
			  <hr class="my-4">
			  <p class="lead">
			    <a class = "links" href="{% url 'ask' %}"> Ask a question.</a>
			    <br>
				<a class = "links" href="{% url 'view' %}"> Visit questions feed.</a>
			  </p>
			</div>
			<p style="margin-right: 10px; font-size: 12px;"> Want to visit the blogs section? Here: <a style="font-size: 12px" href="{% url 'blog_home' %}">Blogs</a></p>

			<p style="margin-right: 10px; font-size: 12px;"> Want to visit the quiz section? Here: <a style="font-size: 12px" href="{% url 'quiz_home' %}">Quiz</a></p>

		</center>
	{% else %}
		<p> You are not logged in. </p>
	{% endif %}
{% endblock %}