<!DOCTYPE html>

<style type="text/css">
		
	* {

		font-family: 'Inter', sans-serif;
	}	

	#logout
	{
		margin-left:;
	}

	#logout-button
	{
		float: right;
		margin-right: 20px;
	}

	#header
	{
		font-size: 12px;
		color: white;
		margin-left: 570px;
	}

</style>

<html>
	<head>	
		<title> Put Funda | Ask a question </title>
	</head>
	<body style="font-family: 'Open Sans', sans-serif;">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<!--Script for using CKEditor-->
		<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>

		<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
  			<a class = "navbar-brand" style="color: white; font-size: 12px;" href="{% url 'home' %}"> Home </a>
  			<a class = "navbar-brand" id = "header"> Put Funda </a> 
  			<a id ="logout-button" style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
		</nav>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">

		<center>

			<form action="{% url 'ask' %}" method = "POST">
			
				{% csrf_token %}
				<br>
				<br>
					Genre:
				<br>
				<br>
			
				<input type="text" name="title" required>
				<br>
				<br>
					Question?
				<br>
				<br>
			
				<textarea style = "font-size: 14px;" rows = '15' cols = '80' name = 'question' required></textarea>

				<script>
			  		CKEDITOR.replace('question', {'height' : 300, 'width' : 800, 
			  		'fontSize' : 14}); 
			  	</script>

				<br>
				<br>
					Answer
				<br>
				<br>
				<textarea rows = '6' cols = '50' name = 'answer' required></textarea>
				<br>
				<br>
			
				<input type="submit" value = "Ask"> </input>
			
			</form>
		</center>
	</body>
</html>