{% extends 'question_delete_base.html' %}

{% block content %}
	
	<center>

		<h5 id = "delete-disclaimer"> Are you sure you want to delete this question? </h5>

	</center>
	
	<div id = "question">

		<form method = "post" action = "{% url 'delete_q' %}?question_id={{question.id}}&user={{user.username}}">

			{% csrf_token %}

			<div id = "question-content">

				{% if not question.author %}
					<p class="question-text"> {{question.question | safe}} <h5 class="q-time"> <strong> posted on {{question.time}} by admin</strong></h5> <a href="{{question.title}}"> {{ques.title}} </a></p>
				{% else %}
					<p class= "question-text"> {{question.question | safe}} <h5 class="q-time"><strong> posted on {{question.time}} by {{ question.author }} </strong> </h5> <a href="{{question.title}}"> {{question.title}} </a></p>
				{% endif %}

				<!-- Including delete button -->

				<input type = "hidden" name = "questions" value = "{{question.question}}">
				<input style = "font-size: 12px;" type = "submit" name = "action" value = "Cancel">
				<input style = "font-size: 12px;" type = "submit" name = "action" value = "Delete">

				<br><br><br>

			</div>

		</form>

	</div> 

{% endblock %}
