{% extends 'questions_list.html' %}
{% block content %}
	
	<center>

		<br>
			<p style = "margin-left: 30px;"> Ask a question <a href = "{% url 'ask' %}">here.</a></p>

	</center>

	<div id = "block">

		{% for questions in q_list %}

			<div id = "question">
			
				<form id="ans" method="post">

					{% csrf_token %}

					<div id = "content">

						{% if not questions.author %}
				
						<div id = "question-div">

							<p class="question-text"> 
						
								<span style = "font-size: 14px; font-family: 'Source Sans Pro', sans-serif;" class = "question-content"> {{questions.question | safe}} </span> 
						
								<h5 class="q-time"> <strong> posted on {{questions.time}} by admin</strong> </h5> 
						
								<a href="{{question.title}}"> {{questions.title}} </a>
						
								<button class = "like-button" type = "button" style = "font-size: 12px;" question = "{{questions.question}}"> 
									<i class = "fas fa-arrow-up"></i>
								</button>
						
								<span class = "like-count">{{ questions.likes }}</span>
							</p>

						</div>

						{% else %}

						<div id = "question-div">

							<p class= "question-text"> 

								<span class = "question-content">
						
									<span style = "font-size: 14px;" class = "question-content"> 

									{{questions.question|safe}}

									</span> 

									<h5 class="q-time"> 
							
									<strong> posted on {{questions.time}} by </strong>
								
									<a style = "font-size: 12px;" href = "/users?user={{questions.author}}"> {{ questions.author }} </a> </h5> 

									<a style = "font-size: 12px;" href="?genre={{questions.title}}"> {{questions.title}} </a> 

									<button class = "like-button" type = "button" style = "font-size: 12px;" question = "{{questions.id}}"> 
										<i class = "fas fa-arrow-up"></i>
									</button>

									<span style = "font-size: 12px;" class = "like-count">{{ questions.likes }}</span>

								</span>

							</p>

						</div>

						{% endif %}


						<input type = "hidden" name = "questions" value = "{{questions.question}}">
				
						<!--<input row = "20" name = "comment" type = "text" placeholder = "Write a comment...">-->

						{% if comments != None %}
					
							<div id = "comments">
					
								{% if questions.question == ques %}
									
									<div id = "comment-section">

										{% for comment in comments %}
									
											<p> _______________________________________________ </p>
										
											<p id = "comment-author"> 
												<a href = "/users?user={{comment.author}}" class = "author">{{comment.author}}</a> 
												<span id = "comment-time"> {{comment.time}} </span> 
											</p>
										
											<p id = "comment-content"> {{comment.content}}</p>			
							
										{% endfor %}

									</div>
					
								{% else %}

								<div id = "comment-div">
						
									<input id = "show-comments" class = "btn btn-link" type = "submit" name = "act" value = "Show comments"/>
									<span style = "font-size: 12px; margin-left: -7px;" id = "comment-count">({{questions.comments}})
									</span>
									
								</div>
								
								{% endif %}

							</div>

							<br>

						{% else %}

							<div id = "comment-div">

								<input id = "show-comments" class = "btn btn-link" type = "submit" name = "act" value = "Show comments"/>	
								<span style = "font-size: 12px; margin-left: -7px;" id = "comment-count">({{questions.comments}})</span>
							
							</div>
						
						{% endif %}
			
						<textarea style = "font-size: 12px; margin-left: 10px;" cols = '30' name = "comment" placeholder = "Write a comment..."></textarea>
						<br>
				
						<input style = "font-size: 12px; margin-left: 10px;" class = "comment-button" type = "submit" name = "act" value = "Submit">
				
						{% if author == questions.author.username %}
				
							<input style = "font-size: 12px;" class = "btn btn-link" id = "delete-button" type = "submit" name = "act" value = "Delete">
							<input style = "font-size: 12px; margin-left: 10px; margin-right: -40px;" class = "btn btn-link" id = "edit-button" type = "submit" name = "act" value = "Edit">
				
						{% endif %}
				
						<br><br>
				
					<div id = "show-answer">
					
						{% for k, v in q_times.items %}
					
							{% if k == questions.question %}
								
								{% if v > 96 %}
									
									<input class = "btn btn-link" style = "font-size: 12px; margin-right: 10px;" type = "submit" name = "show" value = "Show answer"><br>
					
								{% endif %}
							
							{% endif %}	
					
						{% endfor %}
					
					</div>

				</form>

				</div>
			
				{% if answer != None %}
				
					{% if questions.answer == answer %}
				
						<p style="margin-top: 10px; font-size: 12px;" id = "answer"> <strong> Answer: </strong> {{ answer }} </p>
				
					{% endif %}
			
				{% endif %}
			
				<br><br>
		
			</div>
		
		{% endfor %}

	</div>

	<div id = "tags-blogs">

		<p style = "font-size: 12px; margin-right: 10px;">If you want to play contests, head over <a href = "{% url 'quiz_home' %}">here.</a></p>

		<!-- Genre division --> 

		<div id="tags">

			<br> <p style = "font-size: 14px; margin-left: 10px;"> Genre tags </p> 

			{% for genre in g_list %}
				{% if genre != None %}
					<a class="genre" href="?genre={{genre}}">{{genre}}</a>
					<br>
				{% endif %}
			{% endfor %}

			<br>

		</div>
				<!-- Blogs --> 

		<div id = "blogs">

			<br> <p style = "font-size: 14px; margin-left: 15px;"> Blogs </p> <br>

			{% for blog in blogs %}

				<p>
					<a class = "blog-title" href = "blogposts/show_post?user={{user.username}}&post={{blog.title}}">{{blog.title}}</a><br>
					<span style = "margin-left: 15px;">by {{blog.author}}</span>
				</p>

				<br>

			{% endfor %}

			<br>

		</div>

	</div>

{% endblock %}

{% block javascript %}


	<script type="text/javascript">

		$('.like-button').click(function()
		{
			// When user clicks like then increment it and then hide the like button 

			console.log('Like button clicked.'); 

			var question = $(this).attr('question');
			var buttons = $('.like-button');
			var likes = $('.like-count');  
			var idx = buttons.index(this); 

			$.get('/like_question', {question_id : question}, function(data)
			{
				$(this).hide(); 
				likes[idx].innerHTML = data; 
			});

		}); 

		// Smooth scrolling for like, comment, and load buttons 

		$("#show-comments").click(function()
		{
			var elem = document.getElementById('#show-comments'); 

			console.log(elem.offsetTop);

			$('html, body').animate({scrollDown: $(this).offset().top}, 1000); 

		}); 		

	</script>

{% endblock %}