{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Put Funda | Login / Register</title>
		<link rel="stylesheet" href="{% static 'blogsite/css/theme.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	</head>
	<body class="pf-theme">

		<header class="pf-masthead">
			<a class="pf-wordmark" href="{% url 'index' %}">Put Funda</a>
			<p class="pf-tagline">You don't know what you don't know.</p>
		</header>

		<div class="pf-metabar">
			<span>Daily trivia &amp; quiz contests</span>
			<span class="pf-metabar-links">
				<a class="pf-link" href="{% url 'index' %}">Home</a>
			</span>
		</div>

		<div class="pf-shell">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>
