{% extends 'register_base.html' %}
{% block content %}
	<h4 style = "margin-top: 50px;"> Register yourself below. Sign-up is free. </h4>

	<div id = "registration-form">
	
		<form method="post" action="{% url 'register' %}">

		{% csrf_token %}
	
		<center>

			{% if form.errors %}
			        
			<div style = "width: 500px;" class = "alert alert-danger" id = "errors">
		      		
		      	<ul>

				    {% for field in form %}
				        {% for error in field.errors %}
				        	<li><strong>{{ error|escape }}</strong><br></li>
				        {% endfor %}
				    {% endfor %}

				    {% for error in form.non_field_errors %}
				            
				        <li><strong>{{ error|escape }}</strong></li>
				  
				    {% endfor %}
				      
			    </ul>

		    </div>	
		  	
		  
		    {% endif %}

		</center>

		<div id = "left-part">
			
		    <div class="form-group">
		      <p><label>Username:</label></p>
		      <p><span>{{form.username}}</span><br> <p><small id = "username-helptext" class="form-text text-muted">{{form.username.help_text}}</small></p>
		      <span id = "confirm-username" style = "font-size: 12px;"></span></p>
		      <p><small class="form-text text-muted">{{form.username.help_text}}</small></p>
		    </div>
		
		    <div class="form-group">
		      <p><label>First name:</label></p>
		      <p id = "first-name"><span>{{form.first_name}}</span></p>
		    </div>
		
		    <div class="form-group">
		      <p><label>Last name:</label></p>
		      <p>{{form.last_name}}</p>
		    </div>

		    <br>
		
		     <div class="form-group">
		      <p><label for="exampleInputEmail1">DOB:</label><p>
		      <p id = "birth-date"><span>{{form.birth_date}}</span></p>
		      <p><small class="form-text text-muted">{{form.birth_date.help_text}}</small></p>
		    </div>
		
		</div>

		<div id = "right-part">
		
		    <div class="form-group">
		      <p><label for="exampleInputEmail1">City:</label></p>
		      <p><span>{{form.location}}</span></p>
		    </div>
		 
		    <div class="form-group">
		      <p><label for="exampleInputEmail1">Password:</label></p>
		      <p><span>{{form.password1}}</span></p>
		       <p><small class="form-text text-muted">Your password cannot be similar to your personal information.<br> Your password cannot be entirely numeric.</small></p>
		    </div>
		 
		    <div class="form-group">
		      <p><label for="exampleInputEmail1">Confirmation:</label></p>
		      <p>{{form.password2}}</p>
		      <p><small class="form-text text-muted">{{form.password2.help_text}}</small></p>
		    </div>
		
		</div>
  	
  		<center>
  	 		<input style = "margin-top: 400px; font-size: 12px;" type = "submit" class="btn btn-success" name="action" value="Register">
  		</center>
  		<br><br>
		
		</form>

	</div>

<script type="text/javascript">
	
	// AJAX call to validate username

	function validateUsername()
	{
		// Make AJAX call 

		var username = $('#username').val(); 
		var usernameConfirm = $('#confirm-username'); 

		username = username.trim(); 

		$.get("{% url 'username_check' %}", {username : username},

			function (data)
			{
				if(data['valid'] == 'YES')
				{
					// Unique username 

					usernameConfirm.html(data['message']); 
				}
				else
				{
					// A username already exists 

					usernameConfirm.html(data['message']); 
				}
			});		
	}

	// AJAX call to validate email 

	function validateEmail()
	{
		// Make AJAX call here 

		var email = $('#email').val(); 
		var emailConfirm = $('#confirm-email'); 

		email = email.trim(); 

		$.get("{% url 'email_check' %}", {email : email},

			function (data)
			{
				if(data['valid'] == 'YES')
				{
					// Unique email address 

					emailConfirm.html(data['message']);
				}
				else
				{
					// Email ID already taken 

					emailConfirm.html(data['message']); 
				}
			}
			);
	} 

	// AJAX call to validate other things 

	// Function to track changes 

	function onChange()
	{
		$('#username').change(function() {validateUsername()});
		$('#email').change(function() {validateEmail()});  
	}

	$(document).ready(onChange); 

</script>

{% endblock %}