{% extends 'register_base.html' %}
{% load widget_tweaks %}
{% block content %}
	<h4> Register below </h4>
	<form method="post" action="{% url 'register' %}">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<div class = "form-group">
			<p> {{ field.label_tag }} </p>
			<p> {% render_field field %} </p>
			{% if field.help_text %}
				<small class="form-text text-muted"> {{ field.help_text }} </small>
			{% endif %}
		</div>
		{% endfor %}
		<button type="submit">Register</button>
	</form>
{% endblock %}