{% extends "home.html" %}
{% load i18n %}

{% block content %}

<style>

  #form-container {

      margin-top: 10%;
      border-color: gray;
      border-style: solid; 
      border-width: 1px;
      width: 450px;
  }

</style>


<center>
  <div id="form-container">
    <form method="post" action="{% url 'reset' %}">
      {% csrf_token %} 
        <br>
        <div class="form-group">
          <p><label for="exampleInputEmail1">Password:</label></p>
          <p><span>{{form.password1}}</span></p>
           <p><small class="form-text text-muted">Your password cannot be similar to your personal information.<br> Your password cannot be entirely numeric.</small></p>
        </div>
        <br>
        <div class="form-group">
          <p><label for="exampleInputEmail1">Confirmation:</label></p>
          <p>{{form.password2}}</p>
          <p><small class="form-text text-muted">{{form.password2.help_text}}</small></p>
        </div>
        <input type="submit" value="{% trans 'Submit' %}" />
        <br>
    </form>
    <br>
  </div>
</form>
</div>
</center>
{% endblock %}
