{% extends 'user_display_base.html' %}
{% load staticfiles %}

{% block content %}

	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
  	<!-- Navbar content -->
  		<a style="color: white;" href = "{% url 'home' %}" class = "navbar-brand" id = "home"> Home </span>
  		<a style="color: white;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
	</nav>


	<!-- Block to display user details -->

	<div class = "jumbotron" id="user-display">
		<p id = "username" > Username : {{user.username}} </p>
		<p id = "name"> Name : {{user.first_name}} {{user.last_name}} </p>
		<p id = "loc"> Location : {{user.profile.location}} </p>
		<p id = "dob"> Birth date : {{user.profile.birth_date}} </p>
	</div>

	<!-- Block to display user contributions -->

	<div id = "contributions">
		<p id = "count_questions"> Number of questions asked : {{ no_of_questions }} </p>
		<p id = "genres"> 
		{% for genre in genres %}
			<p> <a href = "view?genre={{genre}}"> {{ genre }} </a> </p>
		{% endfor %}
	</div>

	<!--Block to display user questions -->
	<div id = "question-block">
	{% for questions in q_list %}
		<div id = "question">
			<form id="ans" method="post">
			{% csrf_token %}
			<div id = "content">
				{% if not questions.author %}
					<p class="question-text"> {{questions.question}} <h5 class="q-time"> <strong> posted on {{questions.time}} by admin</strong> </h5> <a href="genre={{questions.title}}"> {{questions.title}} </a></p>
				{% else %}
					<p class= "question-text"> {{questions.question}} <h5 class="q-time"> <strong> posted on {{questions.time}} by {{ questions.author }} </strong> </h5> <a href="view?genre={{questions.title}}"> {{questions.title}} </a></p>
				{% endif %}
				</p>
				<input type = "hidden" name = "questions" value = "{{questions.question}}">
				<input name = "comment" type = "text">
				<input type = "submit" name = "act" value = "Submit">
				<input type = "submit" name = "act" value = "Load">
			</div> 
			<div id = "show-answer">
			{% for k, v in q_times.items %}
					{% if k == questions.question %}
						{% if v > 96 %}
							<input type = "submit" name = "show" value = "Show answer">
						{% endif %}
					{% endif %}	
			{% endfor %}
			</div>
			</form>
			{% if answer != None %}
				{% if questions.answer == answer %}
					<p style="margin-top: 10px;" id = "answer"> {{ answer }} </p>
				{% endif %}
			{% endif %}
			<br>
			<br>
			{% if comments != None %}
				<div id = "comments">
				{% if questions.question == ques %}
					{% for comment in comments %}
							<p> _______________________________________________ </p>
							<p id = "comment-author"> <a href = "/users?user={{comment.author}}" class = "author">{{comment.author}}</a> <span id = "comment-time"> {{comment.time}} </span> </p>
							<p id = "comment-content"> {{comment.content}}</p>			
					{% endfor %}
				{% endif %}
				</div>
			{% endif %}
		</div>
	{% endfor %}
	</div>
{% endblock %}

{% block javascript %}

	<!-- JavaScript code -->

	<script>
		$(document).ready(function()
		{
		});
	</script>

{% endblock %}
