{% extends 'blog_post_base.html' %}

{% block content %}

	<nav id = "nav" class="navbar navbar-light" style="background-color: #34495E;">
	  	<a style="color: white; font-size: 12px;" href="/users?user={{user.username}}" class="navbar-brand" id="user-display"> {{user.username}} </span>
  		<a style="color: white; font-size: 12px;" class = "navbar-brand" id="logout-button" href="{% url 'logout' %}">Logout</a>
	</nav>
	
	<!--
	<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>

	<script type="text/javascript">
		// bkLib.onDomLoaded(nicEditors.allTextAreas)
		
		bkLib.onDomLoaded(function()
		{ 
			new nicEditor({buttonList : ['bold', 'italic', 'underline', 'superscript', 'subscript']}).panelInstance('content'); 
		});

	</script>
	-->

	<center>

	<div id="post-form" style="margin-top: 70px;">

		<form method="post" action="{% url 'post' %}">

			{% csrf_token %}

			<p>
			  <label for="title">Title:</label> <br> <br>
			  <input id="title" type="text" name="title" maxlength="40" />
			</p>

			<p>
			  <label for="content">Content:</label> <br> <br>
			  <textarea rows = "12" cols = "90" name = "content" id = "content" placeholder = "Write a post here..."></textarea>
			  
			  <script>
			  	CKEDITOR.replace('content', {'height' : 300, 'width' : 800}); 
			  </script>

			</p>

			<p>
			  <label for="anon">Post as anonymous?</label>
			  <input type="checkbox" name="anon" id="anon" />
			</p>

			<br>

			<input type="submit" name="action" value="Post"/>

		</form>
	</div>
	</center>

{% endblock %}