{% extends 'home.html' %}

{% block content %}

	<div class="pf-section-label pf-section-label--first"><span>Blogposts</span></div>
	<p class="pf-note" style="margin-bottom: 16px;">Write a post <a class="pf-link" href="{% url 'post' %}">here</a>. Looking for the questions feed? It's <a class="pf-link" href="{% url 'view' %}">here</a>.</p>

	{% for post in posts %}
	<div class="pf-card pf-post">
		<div class="pf-post-title"><a class="pf-link" href="show_post?id={{ post.id }}">{{ post.title }}</a></div>
		<div class="pf-post-meta">
			by
			{% if post.anon %}anonymous{% else %}<a class="pf-link" href="/users?user={{ post.author.username }}">{{ post.author }}</a>{% endif %}
			&middot; {{ post.time }}
		</div>
		<div class="pf-post-body">{{ post.preview|safe }}&hellip;</div>

		{% if user == post.author %}
		<div class="pf-post-footer">
			<a class="pf-link" href="edit_post?id={{ post.id }}">Edit</a>
			&middot;
			<a class="pf-link" href="delete_post?id={{ post.id }}">Delete</a>
		</div>
		{% endif %}
	</div>
	{% empty %}
	<p class="pf-note pf-muted">No posts yet.</p>
	{% endfor %}

{% endblock %}
